* {
  margin: 0;
  padding: 0;
}

html {
  background: linear-gradient(60deg, rgba(0, 0, 70) 0%, rgba(28, 181, 224, 1) 100%);
  font-family: 'Work Sans', sans-serif;
  height: 100%;
}

/* LOG IND SYSTEM */
/* Full-width input fields */
input[type=text], input[type=password] {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-left: 25vw;
  border-radius: 10px;
  font-size: 22px;
}

/* Set a style for all buttons */
button {
  background-color: #F9982F;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 10%;
  font-size: 22px;
  border-radius: 8px;
}

button:hover {
  background-color: #fa8201;
}

button a{
  text-decoration: none;
  color: #ffffff;
  display: block;
}

.flex-name {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 26px;
  color: #ffffff;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

.container {
  padding: 13px;
  height: 60vh;
}

span.psw {
  padding-top: 5px;
  margin-right: 7vw;
  font-size: 18px;
  color: #ffffff;
  letter-spacing: 1px;
}

.psw a {
  color: deeppink;
}

h4 {
  font-size: 31px;
}

.opret-btn{
  border: 2px solid #F9982F;
  background-color: transparent;

}

.opret-btn:hover{
  border: 2px solid #90215d;
  background-color: #BC126D;
  opacity: 1;
}

.opret-bruger{
  margin-bottom: 1vh;
}

.signup-text {
  margin-top: 5vh;
  font-size: 18px;
}

.opret-flex{
  display: flex;
  flex-direction: column;
  margin-top: 5vh;
}

.opret-flex label{
  color: #000000 !important;
}

.opret-flex input{
  margin-left: 20vw;
}

.signupbtn{
  width: auto;
}

.cancelbtn{
  width: auto;
  border: 2px solid #F9982F;
  background-color: #ffffff;
  color: #F9982F;
}

.cancelbtn:hover{
  border: 2px solid #90215d;
  background-color: #BC126D;
  color: #ffffff;
  opacity: 1;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 6% auto auto auto;
  /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  color: #000000;
  font-size: 35px;
  font-weight: bold;
  right: 10vw;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }

  .cancelbtn {
    width: 100%;
    border: 2px solid #f44336;
    background-color: #ffffff;
  }
}

/* FORSIDE */
header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 3vh;
}

header a{
  list-style: none;
  text-decoration: none;
  color: #ffffff;
}

.logout{
  display: flex;
  flex-direction: row;
  margin-right: 5vw;
}

.avatar{
  width: 2vw;
  height: 4vh;
  border: 2px solid #ffffff;
  border-radius: 60%;
  margin-left: 1vw;
  margin-top: -1vh;
}

.line-vandret{
  width: 80%;
  margin-top: 2vh;
  margin-left: 10%;
}

.line-lodret{
  border: none;
    border-left:  1px solid hsl(0,0%,100%);
    margin-top: 5vh;
    height: 70vh;
    width:   1px;
    margin-left: 7%;
}

.line-vandret2{
  width: 80%;
  margin-top: 5vh;
  margin-left: 10%;
}

/* The laptop with borders */
.laptop {
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scale(.6) translate(-50%);
  /* Scaled down for a better Try-it experience (change to 1 for full scale) */
  transform: scale(.6) translate(-50%);
  /* Scaled down for a better Try-it experience (change to 1 for full scale) */
  left: 50%;
  top: 20%;
  position: absolute;
  width: 1366px;
  height: 800px;
  border-radius: 6px;

}

.clearfix{
  margin-top: 1vh;
}


.logo{
  width: 30%;
  margin-top: 0vh;
  margin-bottom: 0vh;
}

.logo-opret{
  width: 5%;
  position: absolute;
  left: 10vw;
}

.logo-forside{
  width: 3%;
  margin-top: 0vh;
  margin-left: 2vw;
}


.pc-text {
  color: white;
  font-size: 36px;
  margin-bottom: 5vh;
}

b {
  color: deeppink;
}

.inner-header {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  margin-bottom: 10vh;
}

.flex {
  /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

section {
  width: auto;
  height: 30vh;
  background-color: #ffffff;
}


.waves-background{
  margin-top: 80.4vh;
  background-color: transparent;
}

.waves {
  position: relative;
  top: 100%;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px;
  /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}

.content-bottom {
  position: relative;
  top: 100%;
  height: 5vh;
  text-align: center;
  background-color: white;
}

/* Animation */
.parallax>use {
  animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax>use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax>use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallax>use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }

  100% {
    transform: translate3d(85px, 0, 0);
  }
}

/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }

  .content {
    height: 30vh;
  }

  h1 {
    font-size: 24px;
  }
}

.box-flex{
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-top: 7vh;
  left: 2.5%;
}

.box{
  width: 2.5vw;
  height: 4vh;
  border:1px solid #ffffff;
  margin-top: 1vh;
}
